body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 500px;
    height: 360px;
    border: 1px solid gray;
    /* border-radius: 5px;
    padding: 10px; */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: gray;
    
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    -webkit-text-fill-color: white;
}

.operator {
    background-color: gray; 
}
.oper{
    background-color:  #00a693;
}
.but{
    background-color: black;
}